docker/data/.flows.json.backup
[{"id":"a8f760b2.08455","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6fc884b8.26109c","type":"mqtt-broker","name":"","broker":"mqtt2","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"39b88308.a9f32c","type":"inject","z":"a8f760b2.08455","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":60,"wires":[["e78d6a3.9faed98"]]},{"id":"963b845.c127478","type":"debug","z":"a8f760b2.08455","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":310,"y":120,"wires":[]},{"id":"92db4f44.6dfd8","type":"mqtt in","z":"a8f760b2.08455","name":"","topic":"test/#","qos":"2","datatype":"auto","broker":"6fc884b8.26109c","nl":false,"rap":true,"rh":0,"x":110,"y":120,"wires":[["963b845.c127478"]]},{"id":"e78d6a3.9faed98","type":"mqtt out","z":"a8f760b2.08455","name":"","topic":"test","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"6fc884b8.26109c","x":310,"y":60,"wires":[]}]