docker/data/flows.json
[{"id":"4adf066a.23b588","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"cadd0fd7.fd262","type":"mqtt-broker","name":"","broker":"mqtt","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"cd9d0dce.60f7","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"","usetls":false,"tls":"","influxdbVersion":"2.0","url":"http://influxdb2:8086","rejectUnauthorized":true},{"id":"eef01eab.2fd81","type":"influxdb","hostname":"influxdb","port":"8086","protocol":"http","database":"telegraf","name":"","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"b2035dcd.5e9c7","type":"inject","z":"4adf066a.23b588","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":60,"wires":[["ce86c8f4.98e258"]]},{"id":"2f2af0eb.530eb","type":"debug","z":"4adf066a.23b588","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":310,"y":120,"wires":[]},{"id":"c568c0b0.bcdd5","type":"inject","z":"4adf066a.23b588","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":220,"wires":[["2fbd8dd.21d9b72"]]},{"id":"e64d7018.381d3","type":"debug","z":"4adf066a.23b588","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":220,"wires":[]},{"id":"f5f1d429.7d91c8","type":"mqtt in","z":"4adf066a.23b588","name":"","topic":"test/#","qos":"2","datatype":"auto","broker":"cadd0fd7.fd262","nl":false,"rap":true,"rh":0,"x":130,"y":120,"wires":[["2f2af0eb.530eb"]]},{"id":"ce86c8f4.98e258","type":"mqtt out","z":"4adf066a.23b588","name":"","topic":"test/1","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"cadd0fd7.fd262","x":330,"y":60,"wires":[]},{"id":"2fbd8dd.21d9b72","type":"influxdb in","z":"4adf066a.23b588","influxdb":"cd9d0dce.60f7","name":"","query":"from(bucket:\"telegraf\")\n  |> range(start:-15s)\n  |> filter(fn:(r)=>r._measurement==\"mem\")\n  |> filter(fn:(r)=>r._field=~/used/)\n  |> last()\n  |> drop(columns:[\"_start\",\"_stop\"])","rawOutput":false,"precision":"","retentionPolicy":"","org":"inter","x":380,"y":220,"wires":[["a7c362ac.e5e81"]]},{"id":"b9b17e19.cd359","type":"inject","z":"4adf066a.23b588","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":300,"wires":[["f246e82.a982518"]]},{"id":"482c6dec.986604","type":"debug","z":"4adf066a.23b588","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":300,"wires":[]},{"id":"f246e82.a982518","type":"influxdb in","z":"4adf066a.23b588","influxdb":"eef01eab.2fd81","name":"","query":"SELECT last(/used/) FROM mem WHERE time<now()-15s","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":380,"y":300,"wires":[["982270a0.bb3c9"]]},{"id":"982270a0.bb3c9","type":"split","z":"4adf066a.23b588","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":610,"y":300,"wires":[["482c6dec.986604"]]},{"id":"a7c362ac.e5e81","type":"split","z":"4adf066a.23b588","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":610,"y":220,"wires":[["e64d7018.381d3"]]}]